:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
* {
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: light) {
  body {
    min-height: 100vh;
    background-color: #f5f5f5;
    font-size: 16px;
    color: black;
  }
  h1 {
    font-size: 45px;
    line-height: 115%;
  }
  footer {
    color: var(rgba(0, 0, 0, 0.16));
    font-size: small;
    padding: 3%;
    margin-top: 5%;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    min-height: 100vh;
    background-color: #1a1a1a;
    font-size: 16px;
    color: white;
  }
  h1 {
    font-size: 45px;
    line-height: 115%;
    color: white;
  }
  footer {
    color: rgba(255, 255, 255, 0.479);
    font-size: small;
    padding: 3%;
    margin-top: 5%;
  }
}
@media (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
  nav a {
    font-size: medium;
  }
}
@media (min-width: 600px) {
  .flex_container {
    flex-direction: column;
  }
  nav ul {
    gap: 20px;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  gap: 40px;
  flex-wrap: wrap;
}
nav {
  margin-bottom: 130px;
}
nav li {
  text-align: center;
  float: left;
  margin: 15px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav a {
  color: #b3b4b6;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  padding: 3px;
}
.flex_container {
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.flex_container p {
  text-align: left;
  line-height: 175%;
}
.card {
  width: 400px;
  max-width: calc(90% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card_Image {
  width: 100%;
  height: auto;
  justify-content: center;
  border-radius: 40px;
}
.text_card {
  line-height: 175%;
  text-align: left;
}
.stack {
  display: flex;
  flex-wrap: wrap;
  /* for horizontal aligning of child divs */
  justify-content: center;
  /* for vertical aligning */
  align-items: baseline;
  margin-top: 50px;
  padding: 5px;
  gap: 30px;
}
