nav a:hover {
  color: forestgreen;
}
.skills_Image {
  width: 80%;
  justify-content: center;
  height: auto;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 20px;
}
.link_tag a {
  text-decoration: none;
  color: forestgreen;
}
.cv_container {
  margin-top: 25px;
  max-width: 400px;
  max-height: 350px;
  /*background-color: #d9d9d9;*/
  border-radius: 25px;
  padding: 50px 30px;
  overflow-y: hidden;

  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
