@media (max-width: 600px) {
  .skillsDetail {
    flex-wrap: wrap;
  }
}
nav a:hover {
  color: forestgreen;
}
.skills_Image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
.skillsContainer {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}
.skillsDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  gap: 5%;
}
.skillsText {
  font-size: large;
  line-height: 175%;
  max-width: 350px;
  padding: 30px;
}
.link_tag a {
  text-decoration: none;
  color: forestgreen;
}
.cv_container {
  margin-top: 25px;
  max-width: 400px;
  max-height: 350px;
  /*background-color: #d9d9d9;*/
  border-radius: 25px;
  padding: 50px 30px;
  overflow-y: hidden;

  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
