@media (max-width: 600px) {
  .infoContainer {
    flex-wrap: wrap;
  }
}
.portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
nav a:hover {
  color: #1560bd;
}
.aboutMe_container {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}
.aboutMe_text {
  font-size: medium;
  max-width: 350px;
  padding: 30px;
}
.contact_container {
  max-width: 400px;
  max-height: auto;
  background-color: #d9d9d9;
  border-radius: 25px;
  padding: 50px;
  overflow-y: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 40px;
}
.button a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}
.button {
  background-color: #1560bd;
  width: 125px;
  height: 70px;
  border-radius: 50px;
  border: none;
  justify-content: center;
  display: flex;
  text-align: right;
  align-items: center;
  padding: 3%;
}
.contact_button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header_Image {
  width: 100%;
  justify-content: center;
  height: auto;
}
