@media (max-width: 600px) {
  .detailContainer {
    flex-wrap: wrap;
  }
}
.portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
.detailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
nav a:hover {
  color: #1560bd;
}
.link_tag a {
  text-decoration: none;
  color: #1560bd;
}
.aboutMe_container {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}
.aboutMe_text {
  font-size: large;
  line-height: 175%;
  max-width: 350px;
  padding: 30px;
}
.contact_container {
  max-width: 400px;
  max-height: auto;
  /*background-color: #d9d9d9;*/
  border-radius: 25px;
  padding: 50px;
  margin-top: 5%;
  overflow-y: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 40px;
}
.header_Image {
  width: 100%;
  justify-content: center;
  height: auto;
}
