nav a:hover {
  color: darkslateblue;
}
.link_tag a{
  text-decoration: none;
  color: darkslateblue;
}
.project_Image {
  width: 100%;
  justify-content: center;
  height: auto;
  border-radius: 40px;
}
